.signUp__container {
    height: 630px;
    justify-content: center;
    padding-top: 3%;
}

.logo-1 {
    text-align: left;
    padding-left: 10%;
    margin: 0;
    padding-bottom: 1%;
}

.sec-item {
    padding-left: 36%;
}

.cont__signUp {
    width: 470px;
    height: 510px;
    border: 2px solid rgb(163, 163, 244);
    padding-top: 4%;
}

.signUp__img {
    cursor: pointer;
}

.signUp__email {
    height: 45px;
    width: 40vh;
    font-size: 20px;
    margin-top: 10%;
    border: 1px solid;
    border-color: rgb(71, 78, 147);
    border-radius: 5px;
    text-align: center;
    background-color: aliceblue;
}

.signUp__password,
.signUp__email:focus {
    outline: none;
}

.signUp__password {
    height: 45px;
    width: 40vh;
    font-size: 20px;
    border: 1px solid;
    border-color: rgb(46, 50, 94);
    border-radius: 5px;
    text-align: center;
    background-color: aliceblue;
}

.signUp__loginBtn {
    height: 45px;
    width: 40vh;
    font-size: 20px;
    margin-top: 10%;
    border: 1px solid;
    border-color: rgb(21, 38, 225);
    color: white;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(28, 133, 226);
}

.signUp__signUpBtn {
    color: rgb(96, 131, 238);
    cursor: pointer;
    text-decoration: none;
}

.linkss{
    font-size: 32px;
}


@media screen and (max-width:786px) {
    .signUp__container{
        width: 90%;
    }
    .sec-item{
        padding-left: 15% !important;
        padding-top: 10%;
    }
    .cont__signUp{
        width: 300px;
        height: 540px;
        padding-left: 5px;
        margin-left: 0;
    }
    .signUp__email {
        height: 45px;
        width: 30vh;
        margin-top: 14%;
    }
    .signUp__password {
        height: 45px;
        width: 30vh;
    }
    .signUp__loginBtn {
        height: 45px;
        width: 30vh;
    }
    .signUp__exist{
        width: 160px;
        padding-left: 14%;
        margin-left: 14%;
    }
    .cont__signUp h2{
        padding-top: 5%;
    }
}

