.feature-container {
    padding-top: 1%;
}

.container-new {
    padding-top: 60px;
    padding-bottom: 7%;
}

.tag-lines {
    padding-top: 80px;
    font-size: 3em;
    font-weight: 600;
    padding-bottom: 1%;
}

@media screen and (max-width:786px) {
    .img-features{
        width: 340px;
    }
}

