.container-card {
    padding-top: 70px;
    padding-left: 12%;
    display: flex;
    font-size: 1.2em;
    text-align: center;
    align-content: center;
    align-items: center;
}

.secondItem {
    align-content: center;
    padding-left: 20px;
    text-align: start;
}

.feature__btn{
    background-color: #02103e;
    border: none;
    color: rgb(180, 179, 179);
}

.feature__btn:hover{
    color: #ff014f;
}