.container {
    text-align: start;
    padding-top: 70px;
    padding-bottom: 4%;
    display: flex;
    font-size: 1.2em;
    align-items: center;
    align-content: space-between;
}

.para-1 {
    font-size: 1.4em;
    font-weight: 600;
}

.item-one {
    padding-left: 60px;
    padding-right: 10px;
}

.item-two {
    padding-right: 60px;
    padding-left: 10px;
}

@media screen and (max-width:786px) {
    .item-two{
        padding: 10px;
        margin: 10px;
    }
    .item-one{
        padding: 12px;
        margin: 12px;
    }
}

