.container-card {
    padding-top: 70px;
    padding-left: 12%;
    display: flex;
    font-size: 1.2em;
    text-align: center;
    align-content: center;
    align-items: center;
}

.secondItem {
    align-content: center;
    padding-left: 20px;
    text-align: start;
}

.feature__btn{
    background-color: #02103e;
    border: none;
    color: rgb(180, 179, 179);
    padding: 0;
}

.feature__btn:hover{
    color: #ff014f;
}

@media screen and (max-width:786px) {
    .container-card{
        padding: 25px;
        margin-left: 0;
    }
    .container-card img{
        width: 200px;
    }
    .textTitle{
        width: 250px;
    }
    .home__p{
        width: 280px;
    }
    .feature__btn{
        min-width: 250px;
        padding: 0px;
        margin: 0px;
        text-align: left;
        color: rgb(177, 203, 241);;
    }
    .feature__btn p{
        margin: 0;
        padding: 0;
    }
}

