.content-s {
    padding-top: 3%;
    text-align: left;
    padding-left: 12%;
    font-size: 1.7em;
}

.align-this {
    text-align: left;
    padding-left: 12%;
}

.textTitle {
    font-size: 1.2em;
    font-weight: 700;
}


@media screen and (max-width:786px) {
    .content-s{
        margin-top: 30px;
    }
    .align-this{
        padding: 15px;
        margin: 0 25px 0 30px;
    }
}



