.brand-color {
    color: rgb(245, 248, 251);
}

.navbar-brand {
    font-size: 1.4em;
    font-weight: 500;
}

.nav-item{
    color: white;
}

.logo-home {
    padding-top: 1px;
}

.logo-home:hover {
    cursor: pointer;
}

.linkss:hover {
    color: rgb(96, 131, 235);
    cursor: pointer;
}

.search-width {
    width: 30%;
    display: flex;
}

.space-search {
    padding-right: 15px;
}

.collapse-color {
    background-color: aliceblue;
}

.nav-width {
    color: rgb(245, 248, 251);
    display: inline-flex;
    justify-content: center;
    width: 75%;
    font-weight: 500;
    font-size: 1.5em;
}

.feature__btn{
    background-color: #02103e;
    border: none;
    color: rgb(254, 253, 253);
}

a{
    text-decoration: none;
}

@media screen and (max-width:786px) {
    .brand-color{
        width: 95%;
        margin: 0;
        padding: 0;
    }
    .logo-home{
        padding-left: 0;
        margin-left: 0;
    }
    .feature__btn{
        width: 70px;
    }
    .search-width{
        padding-left: 0;
    }
    .nav-width{
        width: 100%;
    }
    .navbar__btn{
        display: none;
    }
}


