.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    color: white;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.home,
.features,
.templates,
.login,
.startFree{
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.navbar__btn{
    font-size: 22px;
    padding: 4px 15px 4px 15px;
    font-weight: 400;
    height: 46px;
}

a{
    text-decoration: none;
}

.nav-brand-st{
    padding-top: 0;
    margin-top: 0;
}

.logo-1 {
    text-align: left;
    padding-left: 2%;
}



.navbar-brand {
    font-size: 1.4em;
    font-weight: 500;
}

.logo-home:hover {
    cursor: pointer;
}

.linkss:hover {
    color: rgb(96, 131, 235);
    cursor: pointer;
}

.nav-width {
    color: rgb(245, 248, 251);
    display: inline-flex;
    justify-content: center;
    padding-top: 1%;
    width: 95%;
}

.feature__btn{
    background-color: #02103e;
    border: none;
    color: rgb(254, 253, 253);
}

.nav-links-mobile{
    display: none;
}

.mobile-toggle-bar{
    display: none;
}

@media screen and (max-width:786px) {
    .logo-1{
        display: flex;
        position: absolute;
        top: 15px;
        left: 1px;
    }

     .mobile-toggle-bar{
        display: block;
        position: absolute;
        left: 85%;
        top: 3%;
        border-radius: 10%;
    }

    .nav-links{
        display: none;
    }

    li{
        color: #02103e;
    }
    .navbar__btn{
        display: none;
    }

    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: #dceef2;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

