.content-s {
    padding-top: 3%;
    text-align: left;
    padding-left: 12%;
    font-size: 1.7em;
}

.align-this {
    text-align: left;
    padding-left: 12%;
}

.textTitle {
    font-size: 1.2em;
    font-weight: 700;
}