.first-line {
    padding-top: 5%;
    font-size: 2.8em;
    padding-bottom: 3%;
}

.container-ins-1 {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

.items-align {
    padding-left: 2%;
    padding-right: 2%;
}

.items-align:hover {
    transform: scale(1.1);
}

.items-align {
    transition: .2s;
    cursor: pointer;
}

.search-line {
    padding-top: 30%;
}

.temps-container {
    display: flex;
    justify-content: center;
}

.temp-cont-inner {
    padding-top: 2%;
    display: flex;
    padding-bottom: 2%;
}

.items-align-one {
    padding-right: 5%;
}

.items-align-last {
    padding-bottom: 10%;
}

.oneItem {
    padding-right: 2%;
}

.twoItem {
    padding-left: 2%;
}