.container-F {
    padding-top: 4%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
}

.logo-home {
    align-self: flex-start;
    align-content: flex-start;
}

.space-item {
    padding-bottom: 10px;
    color: rgb(177, 203, 241);
}

.space-item:hover {
    cursor: pointer;
}

.footer_btn_color{
    color: rgb(177, 203, 241);
}

.feature__btn{
    background-color: #02103e;
    border: none;
    color: white;
}

.feature__btn:hover{
    color: #ff014f;
}

.hr {
    width: 90%;
    margin: 0 auto;
    height: 5px;
    background: white;
}

@media screen and (max-width:786px) {
    .logo-home {
        align-self: center;
        align-content: center;
    }
    .container-F{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer__one{
        padding: 5px 5px 10px 25px;
        margin: 5px 15px 5px 15px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .f_btn_align{
        text-align: center;
    }
    .mob{
        display: none;
    }
}





