.login__container {
    height: 900px;
    justify-content: center;
    padding-top: 2%;
}

.logo-1 {
    text-align: left;
    padding-left: 10%;
    margin: 0;
    padding-bottom: 3%;
}

.sec-item {
    padding-left: 36%;
}

.cont-login {
    width: 500px;
    height: 600px;
    border: 2px solid rgb(163, 163, 244);
    padding-top: 4%;
}

.login__img {
    cursor: pointer;
}

.login__email {
    height: 45px;
    width: 40vh;
    font-size: 20px;
    margin-top: 15%;
    border: 1px solid;
    border-color: rgb(71, 78, 147);
    border-radius: 5px;
    text-align: center;
    background-color: aliceblue;
}

.login__password,
.login__email:focus {
    outline: none;
}

.login__password {
    height: 45px;
    width: 40vh;
    font-size: 20px;
    border: 1px solid;
    border-color: rgb(46, 50, 94);
    border-radius: 5px;
    text-align: center;
    background-color: aliceblue;
}

.login__loginBtn {
    height: 45px;
    width: 40vh;
    font-size: 20px;
    margin-top: 12%;
    border: 1px solid;
    border-color: rgb(21, 38, 225);
    color: white;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(28, 133, 226);
}

.login__signUpBtn {
    color: rgb(96, 131, 238);
    cursor: pointer;
    text-decoration: none;
}

.linkss{
    font-size: 32px;
}

@media screen and (max-width:786px) {
    .login__container{
        width: 90%;
    }
    .sec-item{
        padding-left: 15% !important;
        padding-top: 10%;
    }
    .cont-login{
        width: 300px;
        padding-left: 5px;
        margin-left: 0;
    }
    .login__email {
        height: 45px;
        width: 30vh;
        margin-top: 14%;
    }
    .login__password {
        height: 45px;
        width: 30vh;
    }
    .login__loginBtn {
        height: 45px;
        width: 30vh;
    }
    .login__dont{
        width: 200px;
        padding-left: 10%;
        margin-left: 10%;
    }
    .cont-login h2{
        padding-top: 5%;
    }
}

