.temp-card-1 {
    padding-top: 2%;
    width: 220px;
    height: 390px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(161, 207, 248);
    color: rgb(31, 23, 79);
}

h1{
    height: 105px;
}

.temp-card-line {
    font-weight: 500;
    padding: 5px;
}

.rounded-circle{
    width: 70px;
}

.imgs {
    padding-top: 10px;
}

@media screen and (max-width:786px) {
    .carousel .slide img{
        width: 120px !important;
    }
}


